* {
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    width: 1000px;
    margin: 0 auto;
}
header {
    position:absolute;
    
    width:100%;
}
.header-logo img{
    width: 250px;
}
.header-left {
    float:left;
}
.header-right li{
    float:right;
}
.header-right a {
    margin-right: 25px;
    color:white;
}
.top-image {
    height: 724px;
}
.top-image img {
    width:100%;
    height: 100%;
    position:relative;
    z-index: -10;
}
.top-wrapper {
    margin:600px 650px 200px 600px;
}
.top-wrapper h1 {
    padding-left:50px;
}
.top-text {
    text-align: left;
    font-size: 20px;
}
.top-text h1 {
    font-weight: normal;
}
.top-text img {
    width:200px;
    margin-left: 50px;
}