* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
}
.container {
    max-width: 1170px;
    width: 900px;
    margin: 0 auto;
}
header {
    position:absolute;
    padding:50px 100px;
    width:100%
}
.header-left {
    float:left;
}
.header-left img {
    width:250px;
}
.header-right ul{
    float:right;
    list-style:none;
}
.header-right li{
    float:left;
}
.header-right a {
    font-size:14px;
    margin-right: 30px;
    text-decoration: none;
    color:white;
}
.top-image {
    height: 724px;
    background-image:url("images/main_visual_111-0x0.jpg");
    background-size:cover;
    vertical-align: 1;
}
.top-wrapper {
    margin-top:100px;
}
.top-wrapper h1 {
    padding-left:50px;
    color:black;
    font-weight:normal;
}
.top-text {
    text-align: center;
    font-size: 20px;
}
.top-text img {
    width:200px;
    margin-left: 50px;
}