* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
}
.container {
    max-width: 1170px;
    width: 800px;
    margin: 0 auto;
}
header {
    position:absolute;
    padding:50px 100px;
    width:100%
}
.header-left {
    float:left;
}
.header-left img {
    width:250px;
    transition:opacity 0.5s;
}
.header-left img:hover {
    opacity:0.6;
}
.header-right ul{
    float:right;
    list-style:none;
}
.header-right li{
    float:left;
}
.header-right a {
    text-decoration: none;
}
.list-txt {
    position: relative;
    font-size:14px;
    margin-right: 35px;
    color:white;
}
.list-txt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0%;
    height: 2px;
    background: white;
    transition: all 0.4s;
}
a:hover .list-txt::after {
    width: 100%;
}
.top-image {
    height: 724px;
    background-image:url("images/main_visual_111-0x0.jpg");
    background-size: cover;
}
.top-wrapper {
    height: 800px;
    padding:100px 0;
    background-color:azure;
}
.top-wrapper h1 {
    margin:0 0 50px 70px;
    color:black;
    font-weight:normal;
}
.top-text {
    letter-spacing: 1px;
    font-size: 20px;
    display: table;
    margin:0 auto;
}
.text-logo {
    margin-left:125px;
}
.top-text img {
    width:200px;
    margin-left: 50px;
}
.product-wrapper {
    padding:100px 0;
}
.product-title {
    width: 100%;
    margin-bottom: 50px;
}
.product-title h1 {
    font-size: 30px;
    float:left;
    font-weight:normal;
}
.product-title a {
    float:right;
    font-size: 15px;
    padding:10px 60px;
    margin-top: 20px;
    border:1px solid black;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
    transition: background-color 0.5s;
}
.product-title a:hover {
    background-color:black;
    color:white;
}
.arrow {
    position: absolute;
    top: 13px;
    left:140px;
    width:10px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.contents {
    vertical-align: top;
    display: inline-block;
    padding:0 10px;
    margin-bottom: 50px;
    width:32%;
    transition:opacity 0.5s;
}
.contents:hover {
    opacity: 0.6;
}
.contents img {
    width: 100%;
}
.contents a {
    text-decoration: none;
}
.contents p {
    font-size: 18px;
    font-weight: bolder;
    width: 80%;
}
.news-title h1 {
    float: left;
    font-size: 30px;
    font-weight: normal;
}
.news-title a {
    float:right;
    font-size: 15px;
    padding:10px 60px;
    margin-top: 20px;
    border:1px solid black;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
    transition: background-color 0.5s;
}
.news-title a:hover {
    color:white;
    background-color:black;
}
.content {
    display: inline-block;
    margin: 35px 0;
}
.content a {
    width: 100%;
    text-decoration: none;
}
.content img {
    float: left;
    width: 40%;
    margin: 0 25px 25px 0;
}
.news-txt {
    color: black;
}
.news-txt h2 {
    margin: 0 0;
    font-size: 19px;
    font-weight: 550;
}
.news-txt p {
    font-size: 12px;
    padding: 0 0;
}