body {
    color: #FFF;
    font-family: "游明朝", "游明朝体";
    font-weight: 500;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.section-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    padding-top: 50px;
}