.service {
    width: 100%;
    height: 700px;
    text-align: center;
    color: #111;
    background-color: #fff;
    @include tab {
        height: auto;
    }
    &-wrapper {
        max-width: 1180px;
        width: 100%;
        height: 500px;
        margin: 0 auto;
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include tab {
            height: auto;
            flex-direction: column;
        }
        .service-content {
            max-width: 350px;
            width: 100%;
            height: 450px;
            border: 3px solid #ddd;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px;
            transition: all 0.4s;
            @include pc {
                padding: 15px;
            }
            @include tab {
                padding: 20px;
                margin-bottom: 50px;
            }
            .service-visual {
                max-width: 170px;
                width: 100%;
                background-color: #fff;
            }
            .service-title {
                font-size: 23px;
                margin: 20px 0;
                position: relative;
                z-index: 1;
                @include pc  {
                    font-size: 18px;
                }
                @include tab {
                    font-size: 23px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 0%;
                    height: 2px;
                    background: #111;
                    z-index: -1;
                    transition: all 0.4s;
                }
            }
            .service-text {
                text-align: left;
                font-size: 18px;
                @include pc {
                    font-size: 15px;
                }
                @include tab {
                    font-size: 17px;
                }
            }
            &:hover {
                .service-title {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
    &-notice {
        margin-top: 40px;
        @include tab {
            padding-bottom: 50px;
        }
        .notice-text {
            font-size: 17px;
            @include tab {
                font-size: 20px;
            }
        }
    }
}
