.skills {
    width: 100%;
    height: 700px;
    text-align: center;
    background-image: url("/src/image/branko-stancevic-GI1hwOGqGtE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    @include pc {
        height: auto;
    }
    &-wrapper {
        max-width: 1180px;
        width: 100%;
        margin: 100px auto 0 auto;
        padding: 100px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #EEE;
        @include pc {
            max-width: 950px;
            flex-wrap: wrap;
            background: none;
        }
        @include tab {
            flex-wrap: nowrap;
            flex-direction: column;
            margin: 20px auto 0 auto;
            padding: 30px 20px;
        }
        .skills-content {
            max-width: 250px;
            width: 100%;
            height: 250px;
            background-color: #DDD;
            text-align: center;
            border-radius: 10px;
            transition: .5s;
            @include pc {
                max-width: 300px;
                margin: 0 10px 100px 10px;
            }
            @include tab {
                margin: 0 0 50px 0;
            }
            &-visual {
                max-width: 150px;
                padding: 20px 0;
            }
            &-text {
                font-size: 20px;
                color: #222;
            }
            &:hover {
                transform: translateY(-4%);
                @include tab {
                    transform: translateY(-10%);
                }
            }
        }
    }
}