@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tel {
  font-size: 24px;
  font-weight: bold;
  color: #21a937;
}

.tel img {
  position: relative;
  top: 3px;
  right: 3px;
  width: 22px;
}

.title {
  font-size: 24px;
  display: inline-block;
  font-weight: bold;
  color: #444;
  margin: 80px 0 70px 0;
  background: linear-gradient(transparent 60%, #99e5a5 0%);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  background-color: #fff;
  z-index: 9999;
}

.header-inner {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner-logo {
  display: inline-block;
}

.header-inner-logo img {
  width: 100%;
}

.header-inner-copy {
  text-align: right;
  line-height: 2;
}

.header-inner-copy-txt {
  font-size: 14px;
  color: #444;
}

@media (max-width: 900px) {
  .header-inner-copy-txt {
    font-size: 13px;
  }
}

.mv {
  height: 947px;
  margin-top: 130px;
  background-image: url("../images/1474084_m.png");
  background-size: cover;
  background-position: center;
}

.mv-inner {
  position: relative;
  top: 133px;
  left: 15%;
  width: 284px;
  display: flex;
  justify-content: space-between;
}

.mv-inner-copy {
  writing-mode: vertical-rl;
  height: 565px;
  font-size: 28px;
  font-weight: bold;
  padding: 18px 37px;
  color: #444;
  background-color: #fff;
}

.mv-inner-copy .green {
  color: #21a937;
}

.intoro {
  height: 664px;
}

@media (max-width: 900px) {
  .intoro {
    height: 700px;
  }
}

.intoro-inner {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 900px) {
  .intoro-inner {
    flex-direction: column;
  }
}

.intoro-inner-copy {
  color: #444;
  margin-left: 31px;
}

@media (max-width: 900px) {
  .intoro-inner-copy {
    margin: 50px 0 0 0;
  }
}

.intoro-inner-copy-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.5;
  padding-bottom: 20px;
}

@media (max-width: 900px) {
  .intoro-inner-copy-title {
    text-align: center;
  }
}

.intoro-inner-copy-title .marker-green {
  background: linear-gradient(transparent 60%, #99e5a5 0%);
}

.intoro-inner-copy-txt {
  font-size: 16px;
  line-height: 38px;
}

.intoro-inner-visual {
  width: 55%;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .intoro-inner-visual {
    width: 70%;
    margin-bottom: 50px;
  }
}

.intoro-inner-visual img {
  width: 100%;
}

.contents {
  background-color: #f5fcf8;
  width: 100%;
}

.contents-inner {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  text-align: center;
}

.contents-inner-recommend {
  font-size: 16px;
  color: #444;
}

.contents-inner-card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 33px;
}

@media (max-width: 900px) {
  .contents-inner-card-box {
    flex-direction: column;
  }
}

.contents-inner-card-box .card {
  width: calc(33.3% - 10px);
  height: 591px;
  padding: 40px 25px 0 25px;
  background-color: #fff;
  border: 2px solid #c9c9c9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .contents-inner-card-box .card {
    width: calc(80% - 5px);
    margin: 20px auto;
    padding: 40px 40px 0 40px;
  }
}

.contents-inner-card-box .card-copy-title {
  font-size: 24px;
  font-weight: bold;
  color: #444;
  margin-bottom: 40px;
}

.contents-inner-card-box .card-copy-work {
  font-size: 15px;
  font-weight: bold;
  color: #444;
  line-height: 38px;
  text-align: left;
}

@media (max-width: 900px) {
  .contents-inner-card-box .card-copy-work {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .contents-inner-card-box .card-copy-work {
    font-size: 16px;
  }
}

.notice {
  width: 100%;
  background-color: #f5fcf8;
  padding-bottom: 112px;
}

.notice-inner {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  text-align: center;
}

.notice-inner .wrapper {
  padding: 40px 70px;
  height: 390px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  border-radius: 30px;
  position: relative;
}

@media (max-width: 900px) {
  .notice-inner .wrapper {
    height: 800px;
  }
}

@media (max-width: 540px) {
  .notice-inner .wrapper {
    height: 1000px;
  }
}

.notice-inner .wrapper .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 0;
  border-bottom: 2px solid #e7e7e7;
}

@media (max-width: 900px) {
  .notice-inner .wrapper .info {
    flex-direction: column;
  }
}

.notice-inner .wrapper .info dt {
  font-size: 16px;
  font-weight: bold;
  color: #21a937;
}

@media (max-width: 900px) {
  .notice-inner .wrapper .info dt {
    font-size: 20px;
    padding-bottom: 15px;
  }
}

.notice-inner .wrapper .info-logo {
  margin: 0 28px;
  padding: 6px 0;
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  background-color: #444;
  color: #fff;
}

@media (max-width: 900px) {
  .notice-inner .wrapper .info-logo {
    font-size: 15px;
    width: 100px;
    margin-bottom: 15px;
  }
}

.notice-inner .wrapper .info-copy {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

@media (max-width: 900px) {
  .notice-inner .wrapper .info-copy {
    line-height: 2;
  }
}

@media (max-width: 540px) {
  .notice-inner .wrapper .info-copy {
    font-size: 18px;
  }
}

.notice-inner .wrapper .more-btn {
  position: absolute;
  right: 80px;
  display: inline-block;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}

.notice-inner .wrapper .more-btn::after {
  content: "▶";
  position: relative;
  left: 10px;
}

.footer {
  width: 100%;
  height: 799px;
  background-color: #fff;
}

.footer-inner {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 900px) {
  .footer-inner {
    flex-direction: column;
  }
}

.footer-inner .map {
  width: 50%;
}

@media (max-width: 900px) {
  .footer-inner .map {
    width: 85%;
  }
}

.footer-inner .footer-copy {
  margin-left: 40px;
  padding: 30px 0;
  height: 480px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .footer-inner .footer-copy {
    width: 85%;
    margin: 0;
  }
}

.footer-inner .footer-copy-logo {
  max-width: 263px;
  width: 100%;
}

.footer-inner .footer-copy-txt {
  line-height: 40px;
}

.footer-inner .footer-copy-txt .address {
  font-size: 16px;
  color: #444;
}

.footer-inner .footer-copy .footer-info {
  font-size: 14px;
  border-top: 2px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
}

@media (max-width: 540px) {
  .footer-inner .footer-copy .footer-info {
    font-size: 13px;
  }
}

.footer-inner .footer-copy .footer-info-table {
  margin: 15px 0;
}

.footer-inner .footer-copy .footer-info-table tr {
  color: #444;
}

.footer-inner .footer-copy .footer-info-table tr th {
  width: 80px;
  font-weight: 400;
}

.footer-inner .footer-copy .footer-info-table tr td {
  padding: 6px 15px;
  display: block;
  border-left: 2px solid #e7e7e7;
}

@media (max-width: 540px) {
  .footer-inner .footer-copy .footer-info-table tr td {
    padding: 6px 5px;
  }
}

.footer-inner .footer-copy .footer-info-table tr .last-td {
  margin-bottom: 15px;
}

.footer-inner .footer-copy .footer-info-table tr .info-date {
  margin-right: 15px;
  background: linear-gradient(transparent 80%, #99e5a5 0%);
}

.footer-inner .footer-copy .footer-info-table tr .time {
  padding: 0 8px;
}

.footer-inner .footer-copy .copyright {
  text-align: right;
  font-size: 11px;
}

@media (max-width: 900px) {
  .footer-inner .footer-copy .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
  }
}

.footer-inner .footer-copy .copyright-txt {
  color: #444;
}
