@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

$tab: 900px;
$sp: 540px;

@mixin tab  {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

body {
    font-family: "Noto Sans JP", sans-serif;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}

.tel {
    font-size: 24px;
    font-weight: bold;
    color: #21a937;
    img {
        position: relative;
        top: 3px;
        right: 3px;
        width: 22px;
    }
}
.title {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    color: #444;
    margin: 80px 0 70px 0;
    background: linear-gradient(transparent 60%, #99e5a5 0%);
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    background-color: #fff;
    z-index: 9999;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        margin: auto;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo {
            display: inline-block;
            @include tab {
                width: 220px;
            }
            @include sp {
                width: 160px;
            }
            img {
                width: 100%;
            }
        }
        &-copy {
            text-align: right;
            line-height: 2;
            &-txt {
                font-size: 14px;
                color: #444;
                @include sp {
                    display: none;
                }
            }
            &-sptxt {
                display: none;
                font-size: 14px;
                color: #444;
                @include sp {
                    display: block;
                }
            }
            .tel {
                @include sp {
                    font-size: 21px;
                }
            }
        }
    }
}
.mv {
    height: 947px;
    margin-top: 130px;
    background-image: url("../images/1474084_m.png");
    background-size: cover;
    background-position: center;
    &-inner {
        position: relative;
        top: 133px;
        left: 15%;
        width: 284px;
        display: flex;
        justify-content: space-between;
        &-copy {
            writing-mode: vertical-rl;
            height: 565px;
            font-size: 28px;
            font-weight: bold;
            padding: 18px 37px;
            color: #444;
            background-color: #fff;
            .green {
                color: #21a937;
            }
        }
    }
}
.intoro {
    height: 664px;
    @include tab {
        height:  700px;
    }
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        @include tab {
            flex-direction: column;
        }
        &-copy {
            color: #444;
            margin-left: 31px;
            @include tab {
                margin: 50px 0 0 0;
            }
            &-title {
                font-size: 24px;
                font-weight: bold;
                line-height: 2.5;
                padding-bottom: 20px;
                @include tab {
                    text-align: center;
                }
                .marker-green {
                    background: linear-gradient(transparent 60%, #99e5a5 0%);
                }
            }
            &-txt {
                font-size: 16px;
                line-height: 38px;
                @include sp {
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
        &-visual {
            width: 55%;
            border-radius: 10px;
            @include tab {
                width: 80%;
                margin-bottom: 50px;
            }
            @include sp {
                margin-bottom: 100px;
            }
            img {
                width: 100%;
            }
        }
    }
}
.contents {
    background-color: #f5fcf8;
    width: 100%;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        text-align: center;
        &-recommend {
            font-size: 16px;
            color: #444;
            @include sp {
                display: none;
            }
        }
        &-sprecommend {
            display: none;
            font-size: 16px;
            color: #444;
            text-align: center;
            line-height: 2;
            @include sp {
                display: block;
            }
        }
        &-card-box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 33px;
            @include tab {
                flex-direction: column;

            };
            .card {
                width: calc(33.3% - 10px);
                height: 591px;
                padding: 40px 25px 0 25px;
                background-color: #fff;
                border: 2px solid #c9c9c9;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include tab {
                    height: 550px;
                    width: calc(80% - 5px);
                    margin: 20px auto;
                    padding: 40px 35px 0 35px;
                };
                @include sp {
                    height: 570px;
                    padding: 30px 15px 0 15px;
                }
                &-copy {
                    &-title {
                        font-size: 24px;
                        font-weight: bold;
                        color: #444;
                        margin-bottom: 40px;
                    }
                    &-work {
                        font-size: 15px;
                        font-weight: bold;
                        color: #444;
                        line-height: 38px;
                        text-align: left;
                        @include tab {
                            font-size: 20px;
                        };
                        @include sp {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
.notice {
    width: 100%;
    background-color: #f5fcf8;
    padding-bottom: 112px;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        text-align: center;
        .wrapper {
            padding: 40px 70px;
            height: 390px;
            width: 100%;
            background-color: #fff;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
            border-radius: 30px;
            position: relative;
            @include tab {
                height: 800px;
            };
            @include sp {
                height: 1000px;
            }
            .info {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 17px 0;
                border-bottom: 2px solid #e7e7e7;
                @include tab {
                    flex-direction: column;
                };
                @include sp {
                    padding: 13px 0;
                }
                dt {
                    font-size: 16px;
                    font-weight: bold;
                    color: #21a937;
                    @include tab {
                        font-size: 20px;
                        padding-bottom: 15px;
                    };
                    @include sp {
                        font-size: 25px;
                    }
                }
                &-logo {
                    margin: 0 28px;
                    padding: 6px 0;
                    width: 80px;
                    font-size: 12px;
                    font-weight: bold;
                    background-color: #444;
                    color: #fff;
                    @include tab {
                        font-size: 15px;
                        width: 100px;
                        margin-bottom: 15px;
                    };
                }
                &-copy {
                    font-size: 16px;
                    font-weight: bold;
                    color: #444;
                    @include tab {
                        line-height: 2;
                    }
                    @include sp {
                        font-size: 18px;
                    }
                }
            }
            .more-btn {
                position: absolute;
                right: 80px;
                display: inline-block;
                color: #444;
                font-size: 16px;
                font-weight: bold;
                margin-top: 40px;
                @include sp {
                    margin-top: 20px;
                }
                &::after {
                    content: "▶";
                    position: relative;
                    left: 10px;
                }
            }
        }
    }
}
.footer {
    width: 100%;
    height: 799px;
    background-color: #fff;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include tab {
            flex-direction: column;
        };
        .map {
            width: 50%;
            @include tab {
                width: 85%;
            };
        }
        .footer-copy {
            margin-left: 40px;
            padding: 30px 0;
            height: 480px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include tab {
                width: 85%;
                margin: 0;
            };
            @include sp {
                width: 95%;
            }
            &-logo {
                max-width: 263px;
                width: 100%;
            }
            &-txt {
                line-height: 40px;
                .address {
                    font-size: 16px;
                    color: #444;
                }
            }
            .footer-info {
                font-size: 14px;
                border-top: 2px solid #e7e7e7;
                border-bottom: 2px solid #e7e7e7;
                @include sp {
                    font-size: 13px;
                }
                &-table {
                    margin: 15px 0;
                    tr {
                        color: #444;
                        th {
                            width: 80px;
                            font-weight: 400;
                            @include sp {
                                width: 60px;
                            }
                        }
                        td {
                            padding: 6px 15px;
                            display: block;
                            border-left: 2px solid #e7e7e7;
                            @include sp {
                                padding: 6px 3px;
                            };
                        }
                        .last-td {
                            margin-bottom: 15px;
                        }
                        .info-date {
                            margin-right: 15px;
                            background: linear-gradient(transparent 80%, #99e5a5 0%);
                            @include sp {
                                margin-right: 5px;
                            }
                        }
                        .time {
                            padding: 0 8px;
                        }
                    }
                }
            }
            .copyright {
                text-align: right;
                font-size: 11px;
                @include tab {
                    text-align: center;
                    margin-top: 40px;
                    font-size: 15px;
                };
                &-txt {
                    color: #444;
                }
            }
        }
    }
}
