html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    padding: 0;
    margin: 0;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここまでリセットcss */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
}
header {
    text-align: right;
    height: 75px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.inner {
    position: relative;
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.inner img{
    position: relative;
    top: 8px;
    width: 125px;
}
.inner h1 {
    position: absolute;
    top: 8px;
    left: 0;
    letter-spacing: 2px;
    color: #333;
    font-size: 14px;
}
.form a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    padding: 15px 40px;
    margin-top: 15px;
    border-radius: 22px;
    background-color: #da6b64;
}
.form a:hover {
    background-color: #D84940;
}

.main-visual {
    position: relative;
    height: 500px;
    background: url("images/main.jpg") no-repeat  center center / cover;
    width: 100%;
}
.main-visual-ttl {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 2;
    color: #333;
}
.main-visual-ttl h2 {
    font-size: 28px;
    font-weight: 600;
}
.main-visual-ttl img {
    width: 300px;
    padding: 10px 0 20px 0;
}
.main-visual-ttl p {
    line-height: 1;
    font-weight: 600;
    font-size: 20px;
}
footer {
    height: 180px;
    background-color: #ECECEC;
    text-align: center;
    color: #333;
}
.footer-text {
    padding: 40px 0;
    line-height: 1.5;
}
.footer-last {
    padding-top: 30px;
}
footer p {
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
}
footer a{
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.top-text {
    height: 610px;
    background-color: #EBB94D;
    color: #fff;
}
.top-text p {
    font-weight: 600;
    font-size: 20px;
}