$pc: 1400px;
$pc2: 1280px;
$tab2: 1020px;
$tab: 768px;
$sp2: 530px;
$sp: 375px;

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}
@mixin pc2 {
    @media (max-width: ($pc2)) {
        @content;
    }
}
@mixin tab2 {
    @media (max-width: ($tab2)) {
        @content;
    }
}
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp2 {
    @media (max-width: ($sp2)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

//---------function--------//

.btn-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    cursor: pointer;
    display: none;
    z-index: 9000;
    @include tab {
        display: block;
    }
    @include sp2 {
        width: 40px;
    }
}
.btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.btn-trigger,
.btn-trigger span {
    transition: all 0.5s;
    box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
    top: 0;
}
.btn-trigger span:nth-of-type(2) {
    top: 20px;
}
.btn-trigger span:nth-of-type(3) {
    bottom: 0;
}

#btn01.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}
#btn01.active span:nth-of-type(2) {
    opacity: 0;
}
#btn01.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
}
#btn01.active span {
    background-color: #000;
}

.fix-header.show {
    top: 0;
}
body.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}
//-------------CSS-------------//

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”,
        “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    position: relative;
}

input::placeholder,
#select {
    font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”,
        “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-weight: bold;
    color: #797878;
}
.title {
    text-align: center;
    padding-top: 60px;
    img {
        max-width: 40px;
    }
    &-copy {
        padding-top: 20px;
        font-size: 36px;
        @include sp2 {
            font-size: 30px;
        }
    }
}

.header {
    position: absolute;
    max-width: 1920px;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    z-index: 5000;
    &-inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        @include tab {
            justify-content: space-between;
        }
        &-logo {
            max-width: 200px;
            width: 100%;
            height: 40px;
            margin-right: 120px;
            @include sp2 {
                max-width: 155px;
            }
            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                font-size: 34px;
                letter-spacing: 2px;
                @include sp2 {
                    font-size: 25px;
                }
                img {
                    position: relatisve;
                    top: -3px;
                    max-width: 40px;
                }
            }
        }
        &-nav {
            max-width: 200px;
            width: 100%;
            @include tab {
                display: none;
            }
            &-list {
                display: flex;
                justify-content: space-between;
                &-item {
                    a {
                        color: #fff;
                        font-size: 16px;
                    }
                }
            }
        }
        &-sp-nav {
            display: none;
            @include tab {
                display: none;
                width: 100vw;
                height: 30vh;
                position: fixed;
                top: 0;
                left: 0;
                background-color: #f2f2f2;
                z-index: 2;
            }
            &-list {
                display: flex;
                justify-content: space-between;
                @include tab {
                    flex-direction: column;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
                &-item {
                    margin-right: 46px;
                    @include tab {
                        margin-right: 0;
                        margin-bottom: 40px;
                    }
                    a {
                        color: #333;
                        font-size: 16px;
                        font-weight: bold;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
        &-reserve {
            position: absolute;
            right: 20px;
            max-width: 170px;
            width: 100%;
            height: 54px;
            background-color: #978f10;
            @include tab {
                right: 110px;
            }
            @include sp2 {
                max-width: 120px;
                right: 70px;
                height: 45px;
            }
            a {
                width: 100%;
                height: 100%;
                color: #fff;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 37px;
                @include sp2 {
                    padding: 0 10px;
                }
                img {
                    max-width: 22px;
                    margin-right: 10px;
                }
            }
        }
        .btn-trigger {
            span {
                background-color: #fff;
            }
        }
    }
}

.fix-header {
    position: fixed;
    top: -80px;
    transition: 0.5s;
    max-width: 1920px;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    z-index: 5000;
    background-color: #fff;
    &-inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        @include tab {
            justify-content: space-between;
        }
        &-logo {
            max-width: 200px;
            width: 100%;
            height: 40px;
            margin-right: 120px;
            @include sp2 {
                max-width: 150px;
            }
            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    position: relative;
                    top: -3px;
                    max-width: 40px;
                }
                p {
                    color: #000;
                    font-size: 34px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    @include sp2 {
                        font-size: 25px;
                    }
                }
            }
        }
        &-nav {
            max-width: 200px;
            width: 100%;
            @include tab {
                display: none;
            }
            &-list {
                display: flex;
                justify-content: space-between;
                &-item {
                    a {
                        color: #000;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
        &-sp-nav {
            display: none;
            @include tab {
                display: none;
                width: 100vw;
                height: 30vh;
                position: fixed;
                top: 0;
                left: 0;
                background-color: #f2f2f2;
                z-index: 2;
            }
            &-list {
                display: flex;
                justify-content: space-between;
                @include tab {
                    flex-direction: column;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
                &-item {
                    margin-right: 46px;
                    @include tab {
                        margin-right: 0;
                        margin-bottom: 40px;
                    }
                    a {
                        color: #333;
                        font-size: 16px;
                        font-weight: bold;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
        &-reserve {
            position: absolute;
            right: 20px;
            max-width: 170px;
            width: 100%;
            height: 54px;
            background-color: #978f10;
            @include tab {
                right: 110px;
            }
            @include sp2 {
                max-width: 120px;
                right: 70px;
                height: 45px;
            }
            a {
                width: 100%;
                height: 100%;
                color: #fff;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 37px;
                @include sp2 {
                    padding: 0 10px;
                }
                img {
                    max-width: 22px;
                    margin-right: 10px;
                }
            }
        }
        .btn-trigger {
            span {
                background-color: #000;
            }
        }
    }
}
#mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9000;
}
#mask.hidden {
    display: block;
}
#modal {
    display: none;
    position: fixed;
    top: 242px;
    left: 0;
    right: 0;
    max-width: 550px;
    width: 100%;
    height: 600px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    padding: 0 22px;
    background-color: #fff;
    border: 1px solid #707070;
    z-index: 9999;
    @include sp2 {
        padding: 0 10px;
    }
    .modal-btn {
        position: absolute;
        top: 20px;
        right: 22px;
        a {
            img {
                max-width: 18px;
            }
        }
    }
    .modal-inner {
        max-width: 430px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        &-title {
            font-size: 20px;
            text-align: center;
            padding: 29px 0;
            border-bottom: 1px solid #e7e7e7;
        }
        &-form {
            margin-top: 30px;
            text-align: center;
            p {
                font-size: 16px;
                font-weight: bold;
                margin: 14px 0;
                text-align: left;
                @include sp2 {
                    font-size: 14px;
                }
            }
            input {
                width: 100%;
                padding: 9px 10px;
                border: 1px solid #e7e7e7;
            }
            #select {
                width: 100%;
                padding: 9px 10px;
                border: 1px solid #e7e7e7;
            }
            &-btn {
                max-width: 198px;
                width: 100%;
                background-color: #fff;
                margin-top: 64px;
            }
        }
    }
}
#modal.hidden {
    display: block;
}
.mv {
    max-width: 1920px;
    width: 100%;
    height: 1079px;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        z-index: 10;
        position: relative;
        &-copy {
            position: absolute;
            top: 40%;
            right: 10%;
            writing-mode: vertical-rl;
            font-size: 34px;
            color: #fff;
            line-height: 2.5;
        }
    }
}

.feature {
    position: relative;
    top: -80px;
    max-width: 1920px;
    width: 100%;
    height: 681px;
    background-image: url("../images/Ex-sozai/Ex-sozai/bg.jpg");
    background-size: cover;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        writing-mode: vertical-rl;
        padding-right: 101px;
        overflow: auto;
        position: relative;
        @include tab2 {
            padding-right: 30px;
        }
        &-title {
            font-size: 28px;
            padding-top: 64px;
            margin-left: 33px;
        }
        &-second {
            padding-top: 149px;
            margin-left: 118px;
            @include pc2 {
                margin-left: 80px;
            }
        }
        h3 {
            font-size: 28px;
            font-weight: bold;
        }
        &-copy {
            font-size: 16px;
            font-weight: bold;
            line-height: 40px;
            padding-top: 149px;
            margin-left: 118px;
            @include pc2 {
                margin-left: 80px;
            }
        }
        &-name {
            position: absolute;
            bottom: 120px;
            font-size: 22px;
            font-weight: bold;
            padding-left: 20px;
        }
    }
}

.service {
    position: relative;
    top: 26px;
    max-width: 1920px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    &-content {
        height: 545px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 122px;
        position: relative;
        @include tab2 {
            height: 700px;
            flex-direction: column;
            margin: 0 30px 122px 30px;
        }
        @include sp2 {
            margin: 0 10px 100px 10px;
        }
        &-visual {
            max-width: 1050px;
            width: 100%;
            height: 545px;
            overflow: hidden;
            position: relative;
            @include tab2 {
                height: 700px;
            }
            @include sp2 {
                height: 570px;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        &-copy {
            position: relative;
            max-width: 870px;
            width: 100%;
            height: 70%;
            padding-left: 137px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include pc2 {
                padding-left: 50px;
                padding-top: 30px;
            }
            @include tab2 {
                height: 100%;
                padding-left: 0;
            }
            &-title {
                font-size: 36px;
                line-height: 62px;
                @include sp2 {
                    font-size: 26px;
                }
            }
            &-txt {
                font-size: 16px;
                font-weight: bold;
                line-height: 32px;
                @include sp2 {
                    font-size: 13px;
                }
            }
            &-btn {
                max-width: 200px;
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                padding: 20px 43px;
                border: 1px solid #707070;
            }
        }
        .even {
            left: 271px;
            @include pc {
                left: 100px;
            }
            @include tab2 {
                left: 0;
            }
        }
    }
    .eve {
        @include tab2 {
            flex-direction: column-reverse;
        }
    }
}

.plan {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-image: url("../images/Ex-sozai/Ex-sozai/bg02.jpg");
    background-size: cover;
    background-position: center;
    &-inner {
        max-width: 1180px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        @include tab2 {
            flex-direction: column;
            align-items: center;
        }
        &-card {
            max-width: 340px;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 66px 0 144px 0;
            @include pc2 {
                padding: 66px 5px 144px 5px;
            }
            @include tab2 {
                max-width: 600px;
                padding: 50px 20px;
                align-items: center;
            }
            @include sp2 {
                padding: 30px 10px;
            }
            &-visual {
                max-width: 331px;
                width: 100%;
                height: 209px;
                overflow: hidden;
                position: relative;
                @include tab2 {
                    max-width: 500px;
                    height: 400px;
                }
                @include sp2 {
                    height: 300px;
                }
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    @include tab2 {
                        border-radius: 20px;
                    }
                }
            }
            &-copy {
                &-title {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 32px;
                    padding: 32px 0;
                    @include tab2 {
                        font-size: 28px;
                        padding: 10px 0;
                        text-align: center;
                    }
                    @include sp2 {
                        font-size: 22px;
                    }
                }
                &-txt {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 32px;
                    @include tab2 {
                        font-size: 22px;
                        font-weight: normal;
                        text-align: center;
                    }
                    @include sp2 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
.notice {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    &-tab {
        text-align: center;
        padding: 46px 0 49px 0;
        a {
            padding: 0 26px;
        }
    }
    &-inner {
        max-width: 1186px;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        padding-bottom: 60px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        @include tab2 {
            flex-direction: column;
            align-items: center;
        }
        &-info {
            max-width: 570px;
            width: 100%;
            height: 130px;
            display: flex;
            background-color: #f6f6f6;
            margin-top: 20px;
            padding: 15px 0 15px 10px;
            @include pc2 {
                max-width: 500px;
            }
            @include tab2 {
                max-width: 640px;
                height: 150px;
                margin-top: 30px;
            }
            @include tab {
                height: 120px;
                padding: 10px 0 10px 10px;
            }
            &-visual {
                max-width: 108px;
                width: 100%;
                height: 100px;
                margin-right: 30px;
                background-size: cover;
                background-position: center;
                @include pc2 {
                    margin-right: 15px;
                }
                @include tab2 {
                    max-width: 120px;
                    height: 120px;
                    margin-right: 20px;
                }
                @include tab {
                    max-width: 110px;
                    height: 100px;
                    margin-right: 10px;
                }
            }
            &-copy {
                font-weight: bold;
                time {
                    font-size: 14px;
                    padding-bottom: 10px;
                    @include tab2 {
                        font-size: 18px;
                    }
                    @include tab {
                        font-size: 16px;
                    }
                }
                &-txt {
                    font-size: 16px;
                    line-height: 32px;
                    @include pc2 {
                        font-size: 15px;
                    }
                    @include tab2 {
                        font-size: 20px;
                    }
                    @include tab {
                        font-size: 15px;
                    }
                }
            }
            .sp {
                display: none;
                @include sp2 {
                    display: block;
                }
            }
            .pc {
                @include sp2 {
                    display: none;
                }
            }
        }
        .odd {
            margin-right: 46px;
            @include pc2 {
                margin-right: 23px;
            }
            @include tab2 {
                margin-right: 0;
            }
        }
    }
}
.access {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-image: url("../images/Ex-sozai/Ex-sozai/bg.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 110px;
    position: relative;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        padding-top: 80px;
        display: flex;
        @include tab2 {
            flex-direction: column;
        }
        &-visual {
            max-width: 656px;
            width: 100%;
            height: 370px;
            background-image: url("../tyukyu-Ex/acess.jpg");
            background-size: cover;
            background-position: center;
            @include tab2 {
                margin: 0 auto;
            }
        }
        &-copy {
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            padding-left: 83px;
            @include pc2 {
                padding-left: 50px;
            }
            @include tab2 {
                padding: 0 10px;
                text-align: center;
            }
            &-txt {
                padding: 12px 0;
                &-title {
                    padding-bottom: 12px;
                    @include tab2 {
                        font-size: 20px;
                        padding-bottom: 16px;
                    }
                }
                &-details {
                    line-height: 32px;
                    @include tab2 {
                        font-size: 18px;
                    }
                }
            }
            &-recommend {
                position: absolute;
                line-height: 32px;
                @include tab2 {
                    position: relative;
                }
            }
        }
    }
    &-map {
        max-width: 792px;
        width: 100%;
        height: 592px;
        padding-top: 69px;
        margin: 0 auto;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
.footer {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-image: url("../images/Ex-sozai/Ex-sozai/bg3.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    &-nav {
        font-size: 18px;
        font-weight: bold;
        writing-mode: vertical-rl;
        margin: 0 auto;
        padding-top: 64px;
        &-list {
            text-align: start;
            &-item {
                padding: 0 17px;
            }
        }
    }
    &-logo {
        padding-top: 96px;
        img {
            max-width: 40px;
        }
        h2 {
            font-size: 36px;
            font-weight: bold;
            padding-top: 20px;
        }
    }
    &-txt {
        padding: 72px 0 61px 0;
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
        .address {
            letter-spacing: 2.88px;
            padding-left: 21px;
        }
        .fax {
            padding-left: 20px;
        }
    }
    &-copy-right {
        background-color: #000;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-weight: bold;
        p {
            font-size: 12px;
            color: #FFF;
        }
    }
}