@charset "UTF-8";
a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.header {
  position: absolute;
  top: 0;
  max-width: 1920px;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  z-index: 1000;
}

.header-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-inner-logo {
  max-width: 200px;
  width: 100%;
  height: 40px;
  margin-right: 120px;
}

.header-inner-logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 34px;
  letter-spacing: 2px;
}

.header-inner-logo a img {
  position: relative;
  top: -3px;
  max-width: 40px;
}

.header-inner-nav {
  max-width: 200px;
  width: 100%;
}

.header-inner-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-inner-nav-list-item a {
  color: #fff;
  font-size: 16px;
}

.header-inner-reserve {
  position: absolute;
  right: 20px;
  max-width: 170px;
  width: 100%;
  height: 54px;
  background-color: #978f10;
}

.header-inner-reserve a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 37px;
}

.header-inner-reserve a img {
  max-width: 22px;
  margin-right: 10px;
}

.fix-header {
  display: none;
  position: fixed;
  top: 0;
  max-width: 1920px;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  z-index: 1000;
  background-color: #fff;
}

.fix-header-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.fix-header-inner-logo {
  max-width: 200px;
  width: 100%;
  height: 40px;
  margin-right: 120px;
}

.fix-header-inner-logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.fix-header-inner-logo a img {
  position: relative;
  top: -3px;
  max-width: 40px;
}

.fix-header-inner-logo a p {
  color: #000;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 2px;
}

.fix-header-inner-nav {
  max-width: 200px;
  width: 100%;
}

.fix-header-inner-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fix-header-inner-nav-list-item a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.fix-header-inner-reserve {
  position: absolute;
  right: 20px;
  max-width: 170px;
  width: 100%;
  height: 54px;
  background-color: #978f10;
}

.fix-header-inner-reserve a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 37px;
}

.fix-header-inner-reserve a img {
  max-width: 22px;
  margin-right: 10px;
}

.mv {
  position: relative;
  top: -100px;
  max-width: 1920px;
  width: 100%;
  height: 1079px;
  background-image: url("../images/Ex-sozai/Ex-sozai/mainbg01.jpg");
  background-size: cover;
}

.mv-inner {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  z-index: 10;
  position: relative;
}

.mv-inner-copy {
  position: absolute;
  top: 40%;
  right: 10%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 34px;
  color: #fff;
  line-height: 2.5;
}

.feature {
  max-width: 1920px;
  width: 100%;
  height: 681px;
  background-image: url("../images/Ex-sozai/Ex-sozai/bg.jpg");
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */