@media(max-width: 1024px) {
    header {
        display: none;
    }
    .header-menu, .top-logo, .menu{
        display: block;
    }
}
@media(max-width: 700px) {
    .top-text {
        margin: 0 50px;
    }
    .top-text h1 {
        text-align: left;
    }
    .top-wrapper {
        padding-top: 30px;
    }
    .contents {
        width: 100%;
    }
}