* {
    box-sizing: border-box;
}
body {
    font-family:"游ゴシック", "ヒラギノ角ゴ ProN", sans-serif;
    margin:0;
    padding:0;
}
.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.header-menu {
    display: none;
    padding: 0 60px;
    background-color: white;
    height: 40px;
}
header {
    position:absolute;
    padding:50px 100px;
    width:100%
}
.top-logo {
    position: absolute;
    margin: 200px;
    display: none;
}
.top-logo img {
    width: 250px;
}
.header-left {
    float: left;
}
.menu {
    display: none;
    color:black;
    float: left;
    font-family: "游ゴシック";
    font-size: 13px;
    line-height: 40px;
}
.fa-bars {
    float: right;
    margin-top: 10px;
}
.header-left img {
    width:250px;
    transition:opacity 0.5s;
}
.header-left img:hover {
    opacity:0.6;
}
.header-right ul{
    float:right;
    list-style:none;
}
.header-right li{
    float:left;
}
.header-right a {
    text-decoration: none;
}
.list-txt {
    position: relative;
    font-size:14px;
    margin-right: 35px;
    color:white;
}
.list-txt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0%;
    height: 2px;
    background: white;
    transition: all 0.4s;
}
a:hover .list-txt::after {
    width: 100%;
}
.top-image {
    height: 724px;
    width: 100%;
    background-image:url("images/main_visual_111-0x0.jpg");
    background-size: cover;
}
.top-wrapper {
    height: 800px;
    padding:100px 0;
    background-color:azure;
}
.top-wrapper h1 {
    text-align: center;
    color:black;
    font-weight: normal;
    font-size: 45px;
}
.top-text {
    letter-spacing: 1px;
    font-size: 20px;
    display: table;
    margin:0 auto;
}
.text-logo {
    margin-left:125px;
}
.top-text img {
    width:200px;
    margin-left: 50px;
}
.product-wrapper {
    padding:100px 0;
}
.product-title {
    width: 100%;
    margin-bottom: 50px;
}
.product-title h1 {
    font-size: 30px;
    float:left;
    font-weight:normal;
}
.product-title a {
    float:right;
    font-size: 15px;
    padding:10px 60px;
    margin-top: 20px;
    border:1px solid black;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
    transition: background-color 0.5s;
}
.product-title a:hover {
    background-color:black;
    color:white;
}
.under-line {
    background:url("images/wave-silver.png") bottom repeat-x;
    background-size: 20px;
}
.arrow {
    position: absolute;
    top: 13px;
    left:140px;
    width:10px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.contents {
    vertical-align: top;
    display: inline-block;
    padding:0 10px;
    margin-bottom: 50px;
    width:32%;
    transition:opacity 0.5s;
}
.contents:hover {
    opacity: 0.6;
}
.contents img {
    width: 100%;
}
.contents a {
    text-decoration: none;
}
.contents p {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    display: table;
    margin:5px auto;
    width: 85%;
    color: black;
}
.news-wrapper {
    padding: 100px 0;
    background-color:azure;
}
.news-title h1 {
    float: left;
    font-size: 30px;
    font-weight: normal;
}
.news-title a {
    float:right;
    font-size: 15px;
    padding:10px 60px;
    margin-top: 20px;
    border:1px solid black;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
    transition: background-color 0.5s;
}
.news-title a:hover {
    color:white;
    background-color:black;
}
.content {
    display: inline-block;
    margin-top:35px;
    transition: opacity 0.5s;
}
.content a {
    width: 100%;
    text-decoration: none;
    transition:opacity 0.5s;
}
.content:hover {
    opacity: 0.6;
}
.content img {
    float: left;
    width: 40%;
    margin: 0 25px 110px 0;
}
.news-txt {
    color: black;
}
.news-txt h2 {
    margin: 0 0;
    font-size: 19px;
    letter-spacing: 1px;
}
.news-txt p {
    color: gray;
}
.date {
    font-size: 11px;
}
.content-txt {
    font-size: 13px;
}
.footer-btn {
    height: 100px;
    text-align: center;
}
.btn {
    font-family: sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 13px 16px;
    margin: 0 14px;
    line-height: 100px;
}
.Facebook {
    color: grey;
    border:1px solid grey;
    transition: all 0.3s;
}
.Facebook:hover {
    color:white;
    background-color:grey;
}
.Twitter {
    color:lightseagreen;
    border:1px solid lightseagreen;
    transition: all 0.3s;
}
.Twitter:hover {
    color: white;
    background-color: lightseagreen;
}
.Bookmark {
    color:cornflowerblue;
    border:1px solid cornflowerblue;
    transition: all 0.3s;
}
.Bookmark:hover {
    color: white;
    background-color: cornflowerblue;
}
.footer-list {
    background-color:darkgrey;
    height: 90px;
}
.footer-list ul {
    list-style: none;
    font-size: 0;
    text-align: center;
}
.footer-list a {
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin: 0 20px;
    line-height: 90px;
    transition: all 0.3s;
}
.footer-list a:hover {
    opacity: 0.7;
}
.footer-bottom {
    height: 160px;
    background-color: gray;
}
.footer-logo {
    width: 100px;
    margin: 20px 0 0 350px;
}
.footer-txt {
    color: white;
    float: right;
    font-size: 10px;
    width: 50%;
    letter-spacing: 1px;
    padding-top: 55px;
}