@charset "UTF-8";
body {
  font-family: "ヒラギノ明朝 ProN", serif;
  background-color: #000;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 94px;
  background-color: #4d0000;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  z-index: 1000;
}

.header-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8px 0 30px;
}

.header-inner-logo {
  max-width: 188px;
}

.header-inner-logo img {
  width: 100%;
}

.header-inner-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-inner-nav-list-item {
  margin-right: 25px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-inner-nav-list-item a {
  text-decoration: none;
  color: #fff;
}

.header-inner-nav-list-item:hover {
  opacity: 0.7;
}

.mv {
  width: 100%;
  height: 674px;
  background-image: url("../image/top-bg.png");
  background-size: cover;
  background-position: center;
  margin-top: 94px;
  position: relative;
}

.mv-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 85px;
}

.feature {
  width: 100%;
  padding-top: 61px;
}

.feature-title {
  text-align: center;
  color: #fff;
  padding-bottom: 60px;
}

.feature-title h2 {
  font-size: 32px;
  padding-bottom: 40px;
}

.feature-title p {
  font-size: 20px;
}

.feature-inner {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.feature-inner-content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-inner-content-visual img {
  max-width: 683px;
  width: 100%;
}

.feature-inner-content-copy {
  height: 345px;
  padding-left: 55px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-inner-content-copy h3 {
  color: #FFFFDD;
  font-size: 28px;
  line-height: 48px;
}

.feature-inner-content-copy p {
  color: #FFF;
  font-size: 18px;
  line-height: 26px;
}

.feature-inner-content-copy .btn {
  color: #FFF;
  background-color: #B8860BEA;
  font-size: 14px;
  max-width: 155px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 11px 0;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  border-radius: 8px;
  margin: 0 auto;
}

.feature-inner .even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature-inner .even-copy {
  padding: 0 56px 0 55px;
}

.plan-title {
  text-align: center;
  padding: 60px 0;
  color: #FFF;
}

.plan-title h2 {
  font-size: 32px;
  padding-bottom: 40px;
}

.plan-title p {
  font-size: 20px;
}

.plan-swiper-container {
  width: 100%;
}

.plan-swiper-container .swiper-wrapper .swiper-slide {
  display: inline-block;
  max-width: 322px;
  width: 100%;
  height: 407px;
  border: 1px solid #DDD;
  background-color: #FFF;
  border-radius: 8px;
}

.plan-swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.plan-swiper-container .swiper-wrapper .swiper-slide-txt {
  max-width: 322px;
  width: 100%;
  font-weight: bold;
  padding: 25px 20px 0 20px;
  position: relative;
}

.plan-swiper-container .swiper-wrapper .swiper-slide-txt-title {
  font-size: 16px;
  line-height: 27px;
}

.plan-swiper-container .swiper-wrapper .swiper-slide-txt-price {
  position: absolute;
  top: 133px;
}

.plan-swiper-container .swiper-wrapper .swiper-slide-txt span {
  color: #FF0000;
}
/*# sourceMappingURL=style.css.map */