$pc: 1920px;
$pc2: 1280px;
$pc3: 1180px;
$pc4: 1050px;
$tab3: 980px;
$tab2: 900px;
$tab: 768px;
$sp2: 530px;
$sp: 375px;

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}
@mixin pc2 {
    @media (max-width: ($pc2)) {
        @content;
    }
}
@mixin pc3 {
    @media (max-width: ($pc3)) {
        @content;
    }
}
@mixin pc4 {
    @media (max-width: ($pc4)) {
        @content;
    }
}
@mixin tab3 {
    @media (max-width: ($tab3)) {
        @content;
    }
}
@mixin tab2 {
    @media (max-width: ($tab2)) {
        @content;
    }
}
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp2 {
    @media (max-width: ($sp2)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

//-------function-------//

.btn-trigger {
    position: relative;
    width: 50px;
    height: 45px;
    cursor: pointer;
    display: none;
    z-index: 9000;
    @include tab {
        display: block;
    }
    @include sp2 {
        width: 40px;
    }
}

.btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    z-index: 9000;
}

.btn-trigger,
.btn-trigger span {
    transition: all 0.5s;
    box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
    top: 0;
}

.btn-trigger span:nth-of-type(2) {
    top: 22px;
}

.btn-trigger span:nth-of-type(3) {
    bottom: 0;
}

#btn01.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}
#btn01.active span:nth-of-type(2) {
    opacity: 0;
}
#btn01.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
}

body {
    font-family: "ヒラギノ明朝 ProN", serif;
    background-color: #000;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 94px;
    background-color: #4d0000;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    z-index: 1000;
    &-inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 8px 0 30px;
        @include tab {
            padding: 0 30px;
        }
        &-logo {
            max-width: 188px;
            img {
                width: 100%;
            }
        }
        &-nav {
            margin: 0 0 0 auto;
            @include tab {
                display: none;
            }
            &-list {
                display: flex;
                &-item {
                    margin-right: 25px;
                    transition: all 0.4s;
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
        .btn-trigger {
            display: none;
            margin: 0 0 0 auto;
            @include tab {
                display: block;
            }
        }
    }
    &-sp-nav {
        display: none;
        width: 100%;
        height: 360px;
        background-color: #000000cc;
        padding: 30px 0;
        &-list {
            text-align: center;
            &-item {
                font-size: 30px;
                padding: 10px 0;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
.mv {
    width: 100%;
    height: 674px;
    background-image: url("../image/top-bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 94px;
    position: relative;
    &-copy {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        font-size: 50px;
        color: #fff;
        text-align: center;
        line-height: 85px;
    }
}
.feature {
    width: 100%;
    padding-top: 61px;
    &-title {
        text-align: center;
        color: #fff;
        padding-bottom: 60px;
        h2 {
            font-size: 32px;
            padding-bottom: 40px;
        }
        p {
            font-size: 20px;
        }
    }
    &-inner {
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
        &-content {
            width: 100%;
            display: flex;
            align-items: center;
            &-visual {
                img {
                    max-width: 683px;
                    width: 100%;
                }
            }
            &-copy {
                height: 345px;
                padding-left: 55px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3 {
                    color: #ffffdd;
                    font-size: 28px;
                    line-height: 48px;
                }
                p {
                    color: #fff;
                    font-size: 18px;
                    line-height: 26px;
                }
                .btn {
                    color: #fff;
                    background-color: #b8860bea;
                    font-size: 14px;
                    max-width: 155px;
                    width: 100%;
                    text-align: center;
                    text-decoration: none;
                    padding: 11px 0;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
                    border-radius: 8px;
                    margin: 0 auto;
                }
            }
        }
        .even {
            flex-direction: row-reverse;
            &-copy {
                padding: 0 56px 0 55px;
            }
        }
    }
}
.plan {
    &-title {
        text-align: center;
        padding: 60px 0;
        color: #fff;
        h2 {
            font-size: 32px;
            padding-bottom: 40px;
        }
        p {
            font-size: 20px;
        }
    }
    &-swiper-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        .swiper-wrapper {
            .swiper-slide {
                display: inline-block;
                max-width: 322px;
                width: 100%;
                height: 407px;
                border: 1px solid #ddd;
                background-color: #fff;
                border-radius: 8px;
                img {
                    width: 100%;
                }
                &-txt {
                    max-width: 322px;
                    width: 100%;
                    font-weight: bold;
                    padding: 25px 20px 0 20px;
                    position: relative;
                    &-title {
                        font-size: 16px;
                        line-height: 27px;
                    }
                    &-price {
                        position: absolute;
                        top: 133px;
                    }
                    span {
                        color: #ff0000;
                    }
                }
            }
        }
    }
    &-card-box {
        display: flex;
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
        padding: 0 54px;
        .card {
            max-width: 389px;
            width: 100%;
            height: 387px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.29);
            text-align: center;
            padding: 0 23px;
            margin: 0 15px;
            &-visual {
                max-width: 140px;
                padding-top: 20px;
            }
            &-title {
                font-size: 28px;
                font-weight: bold;
                padding: 25px 0 40px 0;
            }
            &-copy {
                font-size: 18px;
                line-height: 26px;
                text-align: left;
            }
        }
    }
}
