$tab: 767px;
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
html, body {
    font-family: 'PT Serif', serif;
    margin: 0px;
    font-size: 22px;
    text-align: center;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    &-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-logo {
            max-width: 140px;
            width: 100%;
            margin-left: 30px;
            img {
                width: 140px;
            }
        }
        &-nav {
            margin-right: 40px;
            &-list {
                display: flex;
                color: #000;
                &-item {
                    padding: 18px 0 0 40px;
                }
            }
        }
    }
}
.mv {
    &-visual {
        width: 100%;
    }
}
.grocery {
    &-inner {
        display: flex;
        @include tab {
            flex-direction: column;
        }
        &-description {
            @include tab {
                margin: 0 auto;
                width: 80%;
            }
            &-visual {
                padding: 0 15px;
                img {
                    width: 100%;
                }
            }
        }
    }
}
.contact {
    &-form {
        .input {
            display: block;
            margin: 10px auto;
        }
        .submit {
            display: block;
            width: 250px;
            margin: 30px auto 0 auto;
            border-radius: 5%;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
            padding: 6px 6px;
            background: #006;
            color: #fff;
            transition: all 0.3s;
            box-shadow: 3px 3px 1px #666;
            border: 2px solid #006;
            &:hover {
                box-shadow: none;
                color: #006;
                background: #fff;
            }
        }
    }
}
.footer {
    margin-top: 60px;
    &-copyright {
        font-size: 15px;
    }
}