.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 0 40px;
    z-index: 1000;
    transform: translateY(0);
    transition: all 0.3s;
    &.close {
        transform: translateY(-150%);
    }
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .header-nav {
            max-width: 500px;
            width: 100%;
            line-height: 85px;
            margin-left: auto;
            .nav-list {
                .nav-item {
                    display: inline-block;
                    width: 19%;
                    text-align: center;
                    .nav-a {
                        display: inline-block;
                        font-size: 20px;
                        color: #fff;
                        position: relative;
                        z-index: 1;
                        transition: all 0.6s;
                    }
                }
                hr {
                    height: 3px;
                    width: 20%;
                    background-color: #fff;
                    margin: 0;
                    transition: all 0.6s;
                }
                .skills-btn {
                    &:hover ~ hr {
                        margin-left: 20%;
                    }
                }
                .service-btn {
                    &:hover ~ hr {
                        margin-left: 40%;
                    }
                }
                .works-btn {
                    &:hover ~ hr {
                        margin-left: 60%;
                    }
                }
                .contact-btn {
                    &:hover ~ hr {
                        margin-left: 80%;
                    }
                }
            }
        }
        ._sp {
            max-width: 800px;
            padding-top: 16px;
            margin: 0;
            .overlay {
                background-color: #000;
                width: 50%;
                height: 100vh;
                opacity: 0.9;
                position: fixed;
                top: 0;
                right: 0;
                transform: translateX(100%);
                transition: transform 0.5s ease-out;
                z-index: 1000;
                &.open {
                    transform: translateX(0);
                }
                .sp-nav-list {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: 400px;
                    margin: 0 auto;
                    .nav-item {
                        padding: 10px 0;
                        margin: 0 auto;
                        text-align: center;
                        .nav-a {
                            color: #fff;
                            font-size: 24px;
                            letter-spacing: 5px;
                            text-align: center;
                            &:hover ~ .sp-hr {
                                transform: translateX(0);
                            }
                        }
                        .sp-hr {
                            height: 3px;
                            width: 35%;
                            background-color: #fff;
                            margin: 0 auto;
                            transform: translateX(200%);
                            transition: transform 0.8s ease-out;
                        }
                    }
                }
            }
        }
    }
}
.fix-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 0 40px;
    z-index: 2000;
    background-color: #ddd;
    transform: translateY(-150%);
    transition: all 0.5s;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .fix-header-nav {
            max-width: 500px;
            width: 100%;
            line-height: 80px;
            margin-left: auto;
            .nav-list {
                .nav-item {
                    display: inline-block;
                    width: 19%;
                    text-align: center;
                    .nav-a {
                        color: #000;
                        display: inline-block;
                        font-size: 20px;
                        position: relative;
                        z-index: 1;
                        transition: all 0.6s;
                    }
                }
                hr {
                    background-color: #000;
                    height: 3px;
                    width: 20%;
                    margin: 0;
                    transition: all 0.6s;
                }
                .skills-btn {
                    &:hover ~ hr {
                        margin-left: 20%;
                    }
                }
                .service-btn {
                    &:hover ~ hr {
                        margin-left: 40%;
                    }
                }
                .works-btn {
                    &:hover ~ hr {
                        margin-left: 60%;
                    }
                }
                .contact-btn {
                    &:hover ~ hr {
                        margin-left: 80%;
                    }
                }
            }
        }
        ._sp {
            max-width: 800px;
            padding-top: 16px;
            margin: 0;
            .fix-overlay {
                background-color: #eee;
                width: 50%;
                height: 100vh;
                opacity: 0.9;
                position: fixed;
                top: 0;
                right: 0;
                transform: translateX(100%);
                transition: transform 0.5s ease-out;
                z-index: 1000;
                &.open {
                    transform: translateX(0);
                }
                .sp-nav-list {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: 400px;
                    margin: 0 auto;
                    .nav-item {
                        padding: 10px 0;
                        margin: 0 auto;
                        text-align: center;
                        .nav-a {
                            color: #111;
                            font-size: 24px;
                            letter-spacing: 5px;
                            text-align: center;
                            &:hover ~ .fix-sp-hr {
                                transform: translateX(0);
                            }
                        }
                        .fix-sp-hr {
                            height: 3px;
                            width: 35%;
                            background-color: #111;
                            margin: 0 auto;
                            transform: translateX(200%);
                            transition: transform 0.8s ease-out;
                        }
                    }
                }
            }
        }
    }
    &.open {
        transform: translateY(0);
    }
}
