.main {
    width: 100%;
    height: 100%;
    &-visual {
        width: 100%;
        height: 795px;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            background-image: url("../image/johannes-plenio-DKix6Un55mw-unsplash.jpg");
            background-size: cover;
            width: 100%;
            height: 100vh;
        }
        @include tab {
            height: 900px;
        }
        .main-text {
            max-width: 1180px;
            width: 100%;
            margin: 0 auto;
            font-size: 60px;
            letter-spacing: 10px;
            color: #FFF;
            padding-left: 50px;
            transition: all 0.3s;
            @include tab {
                font-size: 45px;
                padding-left: 20px;
            }
        }
    }
}