.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0 40px;
    z-index: 1000;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .header-nav {
            max-width: 500px;
            width: 100%;
            line-height: 90px;
            margin-left: auto;
            .nav-list {
            }
            .nav-item {
                display: inline-block;
                width: 19%;
                text-align: center;
                a {
                    display: inline-block;
                    font-size: 20px;
                    color: #fff;
                    position: relative;
                    z-index: 1;
                }
            }
            hr {
                height: 3px;
                width: 20%;
                background-color: #fff;
                margin: 0;
                transition: all 0.6s;
            }
            .service-btn {
                &:hover ~ hr {
                    margin-left: 20%;
                }
            }
            .works-btn {
                &:hover ~ hr {
                    margin-left: 40%;
                }
            }
            .skills-btn {
                &:hover ~ hr {
                    margin-left: 60%;
                }
            }
            .contact-btn {
                &:hover ~ hr {
                    margin-left: 80%;
                }
            }
        }
        ._sp {
            max-width: 800px;
            padding-top: 16px;
            margin: 0;
            .overlay {
                background-color: #000;
                width: 50%;
                height: 100%;
                opacity: 0.9;
                position: fixed;
                top: 0;
                right: 0;
                transform: translateX(100%);
                transition: transform 0.5s ease-out;
                z-index: 1000;
                &.open {
                    transform: translateX(0);
                }
                .sp-nav-list {
                    display: none;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: 400px;
                    margin: 0 auto;
                    .nav-item {
                        display: block;
                        width: auto;
                        padding: 20px 0;
                        a {
                            font-size: 24px;
                            letter-spacing: 5px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
