.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    &-inner {
        max-width: 1180px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .header-nav {
            max-width: 393px;
            width: 100%;
            line-height: 60px;
            margin-left: auto;
            .nav-list {
            }
            .nav-item {
                display: inline-block;
                width: 32.4%;
                text-align: center;
                a {
                    display: inline-block;
                    font-size: 20px;
                    color: #fff;
                    position: relative;
                    z-index: 1;
                }
            }
            hr {
                height: 3px;
                width: 33%;
                background-color: #fff;
                margin: 0;
                transition: all 0.6s;
            }
            .works-btn {
                &:hover ~ hr {
                    margin-left: 33.5%;
                }
            }
            .skills-btn {
                &:hover ~ hr {
                    margin-left: 67%;
                }
            }
        }
        ._sp {
            padding: 16px 40px 0 0;
            .sp-nav-list {
                
            }
        }
    }
}
